<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455894050955-hniosra98c62lfinn4u4tp930t75csvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455894050955-hniosra98c62lfinn4u4tp930t75csvt</string>
	<key>API_KEY</key>
	<string>AIzaSyDT1_d4e4NkCdvmlAdClyLaGKLZHS1bpIg</string>
	<key>GCM_SENDER_ID</key>
	<string>455894050955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NeedToKnow.FirebaseAuthSignUpTutorial</string>
	<key>PROJECT_ID</key>
	<string>authsignuptutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>authsignuptutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455894050955:ios:3945da7321a7a800eb4c8e</string>
</dict>
</plist>